.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
.header_socials::before {
  content: '';
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }

  .header_socials {
  display: none;
  }
}